<div class="section">
  <nav class="panel is-half is-center">
    <p class="panel-heading title">
      {{model.name}}
    </p>
    <div class="panel-block">
      {{#link-to "manufacturer.car.new" class="button is-outlined is-fullwidth"}}Add New Car{{/link-to}}
    </div>
  </nav>


    <div class="grid">
      {{#each model.cars as |car|}}
      <div class="grid__item">
        <nav class="panel">
          <p class="panel-heading title">
            {{car.year}} - {{car.name}}
          </p>
          <div class="panel-block">
            <p>Horsepower: {{car.hp}}</p>
            <p>Price: ${{car.price}}</p>
          </div>
        </nav>

      </div>
      {{/each}}
    </div>


</div>
