<div class="section">
  <nav class="panel is-half is-center">
    <p class="panel-heading title">
      {{model.name}}
    </p>
    <div class="panel-block">
            {{#link-to "manufacturer.car.new" class="button is-outlined is-fullwidth"}}Add New Car{{/link-to}}
    </div>
  </nav>

  {{#each model as |value|}}
    <div class="grid">
      <div class="grid__item">
        <nav class="panel">
          <p class="panel-heading title">
            {{value.year}} - {{value.model}}
          </p>
          <div class="panel-block">
            <p>Horsepower: {{value.horsepower}}</p>
            <p>Price: ${{value.price}}</p>
          </div>
        </nav>

      </div>
    </div>
  {{/each}}

</div>
